.grid_title {
  margin-bottom: 16px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  @media screen and (max-width: 480px) {
    font-size: 14px !important;
  }
}

.body_grid {
  .summary_content {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.amount_input {
  display: none !important;
  @media screen and (max-width: 480px) {
    display: block !important;
  }
}
