.grid_title {
  margin-bottom: 16px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  @media screen and (max-width: 480px) {
    font-size: 14px !important;
  }
}

.body_grid {
  .summary_content {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.body_column {
  .amount_input {
    display: none !important;
    @media screen and (max-width: 480px) {
      display: block !important;
    }
  }
}

.payment_method_container {
  margin-bottom: 32px;
}

.method_box {
  border: 1px solid #e3e8ef;
  border-radius: 12px;
  width: 250px;
  height: 76px;
  @media screen and (max-width: 480px) {
    width: 140px;
    height: 64px;
  }
}

.method_amount {
  @media screen and (max-width: 480px) {
    display: none;
  }
  .css-1z10yd4-MuiFormControl-root-MuiTextField-root {
    margin-top: 0;
  }
  .css-aqn31m-MuiInputBase-root-MuiOutlinedInput-root {
    height: 76px !important;
  }
}

.method_logo {
  @media screen and (max-width: 480px) {
    display: none !important;
  }
}

.method_title {
  color: #111729;
  font-weight: 700 !important;
  font-size: 16px !important;
  @media screen and (max-width: 480px) {
    font-size: 12px !important;
  }
}

.method_left {
  margin-right: 16px !important;
  @media screen and (max-width: 1440px) {
    margin-right: 32px !important;
  }
  @media screen and (max-width: 480px) {
    margin-right: 76px !important;
  }
}

.method_action {
  color: #677489;
  font-weight: 500 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  @media screen and (max-width: 480px) {
    margin-top: 2px;
    font-size: 11px !important;
  }
}

.selected {
  border: 2px solid #ff7800 !important;
}

.cc_number {
  padding: 12px;
}

.paywise_logo {
  width: 42px;
  height: 12px;
  margin-top: 16px;
}
