.form_card {
  padding: 40px 40px 16px 40px !important;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.accordion_summary {
  border-bottom: 1px solid #e3e8ef !important;
  .summary_content {
  }
}

.form_content {
  padding: 0 !important;
  width: 100% !important;
}

.form_checkbox {
  display: none !important;
  @media screen and (max-width: 480px) {
    display: block !important;
    margin-top: 48px !important;
    font-size: 14px !important;
    line-height: 165% !important;
    letter-spacing: 0.005em !important;
    color: #677489 !important;
  }
}

.button_grid {
  margin-top: 24px !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  @media screen and (max-width: 480px) {
    margin-top: 16px !important;
  }
}

.menu_toggler {
  display: none !important;
  @media screen and (max-width: 480px) {
    display: block !important;
  }
}

.menu_toggler_section {
  margin: 12px 0 !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.menu_toggler_title {
  padding: 11px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
