@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "_nullstyle.scss";

@import "_mixins.scss";

@import "_fonts.scss";

@import "form.scss";

@import "data_grid.scss";

@import "mobile_input.scss";

@import "text_field.scss";

@import "summary.scss";

body {
  background: linear-gradient(180deg, #f8fafc 18.16%, rgba(248, 250, 252, 0.95) 100%);
  padding: 5% 10% 5% 10%;
  @media screen and (max-width: 480px) {
    padding: 0;
  }
  font-family: "Satoshi", sans-serif;
}

.app_container {
  overflow-x: hidden;
  font-family: "Satoshi";
  z-index: 2;
}

.vector_container {
  position: absolute;
  top: 10px;
  z-index: -1;
  width: 78%;
}

.vectorTwo {
  background: rgba(240, 78, 156, 0.16);
  filter: blur(342.492px);
  transform: rotate(31.07deg);
  height: 146.675px;
  @media screen and (max-width: 1920px) {
    height: 214.45px;
  }
  @media screen and (max-width: 1440px) {
    height: 208.3375px;
  }
  @media screen and (max-width: 1280px) {
    height: 192.967px;
  }
}

.vectorEight {
  background: rgba(30, 192, 227, 0.16);
  filter: blur(342.492px);
  transform: rotate(31.07deg);
  height: 62.105px;
  @media screen and (max-width: 1920px) {
    height: 158.07px;
  }
  @media screen and (max-width: 1440px) {
    height: 166.0525px;
  }
  @media screen and (max-width: 1280px) {
    height: 200.38px;
  }
}

.vectorTen {
  background: rgba(123, 114, 226, 0.2);
  filter: blur(266.383px);
  transform: matrix(0.3, 0.95, 0.95, -0.3, 0, 0);
  height: 313.83px;
  @media screen and (max-width: 1920px) {
    height: 259.225px;
  }
  @media screen and (max-width: 1440px) {
    height: 241.9155px;
  }
  @media screen and (max-width: 1280px) {
    height: 272.8133333px;
  }
}

.vectorSeven {
  background: rgba(30, 192, 227, 0.16);
  filter: blur(342.492px);
  transform: rotate(31.07deg);
  height: 180.51px;
  @media screen and (max-width: 1920px) {
    height: 180.34px;
  }
  @media screen and (max-width: 1440px) {
    height: 175.255px;
  }
  @media screen and (max-width: 1280px) {
    height: 213.56px;
  }
}

.detailsCard {
  padding: 40px 40px 16px 40px;
  &_content {
    padding: 0 !important;
  }
  &_title {
    margin-bottom: 16px !important;
    font-weight: 700 !important;
    font-size: 24px !important;
  }
  &_body {
    font-weight: 500 !important;
    font-size: 16px !important;
    width: 70% !important;
  }
}

.react-tel-input .form-control {
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .css-1wumnyl-MuiContainer-root {
    padding: 0 !important;
  }
  .detailsCard {
    height: 56px;
    padding: none;
    &_content {
      display: none;
    }
  }
}
